// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-panel {
	border-right: 1px solid rgb(219, 219, 219);
	height: 100vh;
	a {
		text-decoration: none;
		color: rgb(59, 89, 152);
	}
}
.user-name-sm {
	position: relative;
	top: -10px;
	font-weight: bold;
}

.view-profile {
	padding-top: 5px;
	display: block;

}

