.user-info {
  padding-bottom: 50px;
 }
.user-pic {
	display: inline-block;
	position: relative;

 }
.user-details {
	display: inline-block;
	position: relative;
	margin-left: 10px;
}
.user-name {
	position: relative;
	top: -20px;
  font-size: 28px;
  font-weight: bold;
}
.friend-header {
  font-size: 18px;
  font-weight: bold;
  }
.friend {
	display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
}
.friend-name {
	position: relative;
	color: #3B5998;
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
}
.friend-overview {
	float: right;
	margin-left: 10px;
}

.unfriend-command a {
	font-size: 11px;
	color: gray;
}

.unfriend-command {
	display: none;
}

.friend-command {
	font-size: 15px;
	display: inline-block;
	margin-left: 5px;
	position: relative;
	top: -3px;
	a {
		color: gray;
		&:hover {
			color: blue;
			text-decoration: none;
		}
	}
}

.friend:hover .unfriend-command {
	display: block;
}